#help {
    -fx-background-color: derive(#1d1d1d, 20%);
    background-color: #383838;
}

#copyButton, #helpMessage {
    -fx-font-family: "Open Sans";
}

#helpMessage {
    -fx-text-fill: white;
    -fx-opacity: 1;
}
